.logo-container {
  position: fixed;
  top: -13px;
  left: 20px;
  z-index: 1001;
}

.logo-image {
  height: 100px;
  width: 100px;
}

@media (max-width: 600px) {
  .logo-container {
    top: -5px;
    left: 8px;
  }
  .logo-image {
    width: 54px;
    height: 54px;
  }
}