.homepage-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding-top: 80px;
}

.homepage-main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  z-index: 2;
  color: #fff;
}

.left-panel {
  text-align: left;
  margin-left: 20px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fade-inh {
  animation: fadeIn 1s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes fadeInh {
  from {
    opacity: 0;
    transform: translateX(24px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
