body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
}

.app-container {
  background-image: url("/Background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

.app-container.mobile {
  overflow-x: hidden;
}


@media (max-width: 700px) {
  .app-container {
    overflow-x: hidden;
  }
  
  .app-container.desktop {
    display: none;
  }
}
